MEMORA_APP_ENV=development
MEMORA_DATABASE_HOST=127.0.0.1
MEMORA_DATABASE_PORT=55432
MEMORA_DATABASE_NAME=memora_dev
MEMORA_DATABASE_USER=memora_dev
MEMORA_DATABASE_PASSWORD=change-me
MEMORA_DATABASE_URL=postgresql://memora_dev:change-me@127.0.0.1:55432/memora_dev
MEMORA_POSTGRES_SUPERUSER=postgres
MEMORA_POSTGRES_SUPERUSER_PASSWORD=change-me
MEMORA_ATOMIC_NOTE_RELATION_THRESHOLD=0.72
MEMORA_INTEGRATION_GATEWAY_PORT=47831
